.black{
    color: black;
}

.red.border{
    color: red;
  border:1px solid red
}

.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}
